@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.logo_Container {
  width: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.header_logo {
  width: 6rem;
  cursor: pointer;
}
.nav_Container_Ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}

.nav_Container_Ul > li {
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
}
